{:server {:hostname "0.0.0.0"
          :port 8080
          :allowed-origins :all}
 :timeouts {:registration-methods-read 1000
            :voter-register 1000
            :status-read 1000
            :status-create 1000
            :status-delete 1000}
 :rabbitmq {:connection {:host "0.0.0.0"
                         :port 5672}
            :queues {"voter-registration-http-api.ok" {:exclusive false :durable true :auto-delete false}
                     "voter-registration-works.registration-methods.read" {:exclusive false :durable true :auto-delete false}
                     "voter-registration-works.voter.register" {:exclusive false :durable true :auto-delete false}
                     "voter-registration-works.registration-status.read" {:exclusive false :durable true :auto-delete false}
                     "voter-registration-works.registration-status.create" {:exclusive false :durable true :auto-delete false}
                     "voter-registration-works.registration-status.delete" {:exclusive false :durable true :auto-delete false}}}}
